<div>
  <p>Hi, <%= "#{@user.first_name} #{@user.last_name}" %></p>
  <p>Your Flight Booking to <%= "#{@booking.flight.route.arriving_airport.name} from #{@booking.flight.route.departing_airport.name} on #{@booking.flight.date.strftime('%B %d, %Y')} is successful. Below are your flight details" %></p>

  <h3>Your Information </h3>
  <hr/>

  <b>Name: </b> <%= "#{@user.first_name} #{@user.last_name}" %><br/>
  <b>Email: </b> <%= "#{@user.email}" %>
  
  <% if @booking.passengers.any? %>
    <h4>Passengers Information</h4>
    <hr/>
    <ol>
      <% @booking.passengers.each do |passenger| %>
        <li><%= "#{passenger.first_name} #{passenger.last_name}" %></li>
      <% end %>
    </ol><br/>
  <% end %>

  <p><b>Total Fare: </b> <%= @new_cost %> </p>
</div>
