<%= render 'header' %>
<h1 class="ui horizontal divider header">
  <i class="help circle icon"></i>
  About Us
</h1>

<div class="ui container">
  <div class="ui piled segment">
    <p><%= @about_content %></p>
    <p><%= @about_content %></p>
    <p><%= @about_content %></p>
  </div>
</div>
<%= render 'footer' %>
