<%= render partial: 'notice' %>
<%= render 'header' %>
<section>
   <%= image_tag("airplane1.jpg", class: 'ui fluid image') %>
    <h1 class="ui center aligned icon header">
      <i class="circular plane icon"></i>
      <div class="content">
        Fly Safe. The true way to travel...
        <div class="sub header">At Fly Safe, We ensure your travel is smooth and stress free</div>
      </div>
    </h1>
    <div class="ui centered grid">
       <div class="ui buttons">
          <%= link_to "Learn More", about_path, class: "ui button" %>
          <div class="or"></div>
          <%= link_to "Book Now", root_path(anchor: "booking"), class: "ui positive button"%>
      </div>
    </div>
   
</section>

<section id="booking">
  <h2 class="ui horizontal divider header">
    <i class="tag icon"></i>
       Book a Flight Now
  </h2>
  <div class="ui centered grid">
    <div class="ui steps">
      <div class="active step" id="search-flight">
        <i class="search icon"></i>
        <div class="content">
          <div class="title">Search Flights</div>
          <div class="description">Search For Available Flights</div>
        </div>
      </div>

      <div class="step" id="select-flight">
        <i class="checkmark icon"></i>
        <div class="content">
          <div class="title">Select Flight</div>
          <div class="description">Pick a Specific Flight</div>
        </div>
      </div>


      <div class="step" id="book-flight">
        <i class="calendar icon"></i>
        <div class="content">
          <div class="title">Booking</div>
          <div class="description">Make a Reservation</div>
        </div>
      </div>

      <div class="step" id="confirm-flight">
        <i class="pin icon"></i>
        <div class="content">
          <div class="title">Confirmation</div>
          <div class="description">Confirm Reservation</div>
        </div>
      </div>

    </div>
  </div>
  <div class="ui centered grid progress-container">
    <div class="ui raised segment" id="progress-container">
      <%= render partial: "forms/search_flight" %>
    </div>
  </div>
</section>
<%= render 'footer' %>
