<tbody>
  <% if bookings.empty? %>
    <tr class="center aligned">
      <td colspan="7">
        <h3>You have no past bookings</h3>
        <p>Visit <%= link_to "Home Page", root_path %> to book now</p>
      </td>
    </tr>
  <% else %>
    <% bookings.each do |booking| %>
      <tr id="<%= booking.reference_number %>">
        <td><%= booking.reference_number %></td>
        <td><%= booking.flight.from_airport.name %></td>
        <td><%= booking.flight.to_airport.name %></td>
        <td><%= booking.passengers.count %></td>
        <td><%= booking.flight.plane_name %></td>
        <td><%= booking.flight.date.strftime("%B %d, %Y") %></td>
        <% if booking.flight.date > Time.now %>
          <td>
            <button class="circular ui red basic icon button" onclick="deleteConfirmDialog('<%= booking.reference_number %>')"><i class="delete calendar icon"></i></button>
          </td>
        <% else %>
          <td>
            <button class="ui red basic button" disabled><i class="delete calendar icon"></i></button> 
          </td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
</tbody>
