<%= form_tag feedback_path, method: "post", class: "ui form" do %>
  <h4 class="ui dividing header">Please provide your information</h4>
  <div class="two fields">
    <div class="field">
      <%= label_tag :first_name, "First Name" %>
      <%= text_field_tag :first_name, nil, placeholder: "E.g John" %>
    </div>

    <div class="field">
      <%= label_tag :last_name, "Last Name" %>
      <%= text_field_tag :last_name, nil, placeholder: "E.g Doe" %>
    </div>
  </div>

  <div class="two fields">
    <div class="eight wide field">
      <%= label_tag :email, "Email" %>
      <%= text_field_tag :email, nil, placeholder: "E.g johndoe@gmail.com", required: true %>
    </div>

    <div class="eight wide field">
      <%= label_tag :phone_number, "Phone Number" %>
      <%= text_field_tag :phone_number, nil, placeholder: "(+234) 734452890" %>
    </div>
  </div>

  <div class="twelve wide field">
    <%= label_tag :comment, "Drop Your Comment" %>
    <%= text_area_tag :comment, nil, required: true %>
  </div>
 
  <%= submit_tag "Submit", class: "ui basic blue button" %>
<% end %>
