<p id="notice"><%= notice %></p>

<p>
  <strong>Departs:</strong>
  <%= @route.departs %>
</p>

<p>
  <strong>Arrives:</strong>
  <%= @route.arrives %>
</p>

<p>
  <strong>Date:</strong>
  <%= @route.date %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
