<div class="ui small inverted menu">
  <%= link_to "Home", root_path,  class: 'active item' %>

  <%= link_to "About Us", about_path,  class: 'item' %>

  <%= link_to "Contact Us", contact_path,  class: 'item' %>

  <div class="right menu">
    <%= link_to signup_path, class: 'item' do %>
      <div class="ui primary button">Sign Up</div>
    <% end %>

    <%= link_to login_path, class: 'item' do %>
      <button class="ui teal button">Login</button>
    <% end %>

  </div>
</div>